$color: white;

html,
body {
  font-size: 12pt;
  margin: 0;
  padding: 0;
  text-align: center;
  scroll-behavior: smooth;
  color: white;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.hero {
  background-image: url("../image/hero-forest-image.jpg");
  background-size: cover;
  background-position: center;
}

// Navigation part
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}

.hamburgerCont {
  transition: 0.3s;
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.1);
}

#toggle {
  display: none;
}

#toggle:checked + nav .hamburger .mid {
  opacity: 0;
}

#toggle:checked + nav .navLinks {
  visibility: visible;
  opacity: 1;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 20px;
  padding: 0;
  gap: 0;
  height: 30px;
  width: 30px;
  justify-content: space-between;
}

.nav {
  box-sizing: border-box;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  transition: 0.2s;
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 5px 0;
  gap: 0;
  background-color: rgba(255, 255, 255, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  width: 100%;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

.navLinks a:hover {
  text-decoration: underline;
}
// !Navigation part

// Start text
.textCont {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  gap: 20px;
  align-self: center;
  text-align: center;
  width: 80%;
}

.arrowDown {
  align-self: center;
  margin: 0;
  padding: 30px;
  gap: 0;
  width: fit-content;
  font-size: 1.5rem;
  color: white;
}

// !Start text

// About
.aboutCont {
  display: flex;
  flex-direction: row;
}

.box > div {
  width: 80%;
  padding-bottom: 5%;
  margin-bottom: 2%;
  text-align: center;
}

.box img {
  width: 50%;
  border-radius: 50%;
}

.box-text {
  color: black;
  background-color: rgba(211, 211, 211, 0.747);
  padding: 1.4em;
  font-size: 1em;
}

.fa-quote-right {
  color: black;
  font-size: 2em;
}

.fa {
  font-size: 2em;
}

// !About

// Contact.
.footer {
  background-color: black;
  color: $color;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer > div {
  height: 20%;
  text-align: left;
}

.social-li {
  list-style: none;
  background-color: black;
  color: $color;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-right: 4em;
}

.contactText1 {
  list-style: none;
  margin-right: 2em;
  line-height: 30px;
}

.contactText2 {
  list-style: none;
  text-align: left;
  line-height: 30px;
}

.marginRight1 {
  margin-right: 50px;
}

.marginRight2 {
}

@media screen and (min-width: 768px) {
  .hamburgerCont {
    display: none;
  }

  .navLinks {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
    padding: 30px;
    gap: 40px;
    visibility: visible;
    opacity: 1;
    align-self: stretch;
    justify-content: right;
    width: 100%;
    font-size: 1rem;
    width: auto;
  }

  .aboutCont {
    display: flex;
    flex-direction: column;
  }

  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .box > div {
    width: 40%;
    padding-bottom: 10%;
  }

  .box img {
    width: 40%;
  }

  .box-text {
    background-color: lightgrey;
    margin-right: 1.8em;
    padding: 20px;
    font-size: 1.6;
  }

  .lineHeight1 {
    line-height: 40px;
  }

  .lineHeight2 {
    line-height: 20px;
  }

  .lineHeight4 {
    line-height: 38px;
  }

  .footer {
    font-size: 1.2rem;
    flex-direction: row;
    justify-content: center;
  }

  .footer > div {
    height: 40%;
    text-align: center;
  }

  .footer > .fa {
    list-style: none;
    color: $color;
  }

  .social-li {
    margin-left: 4em;
  }
}
